

*{
    box-sizing: border-box;
}
body{
    color: #1c1b1b;
    background: #fff;
    font-size: 14px;
    font-family: 'Univia Pro', sans-serif;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button{
    padding: 0;
    margin: 0;
}
button:focus,
input:focus,
select:focus{
    outline: none;
}
:focus{
    outline: none;
}
a:hover{
    color: inherit;
}
.btn-red{
    border: none;
    background: #fc4d4c;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.btn-border-red{
    border: 1px solid #fc4d4c;
    background: #fff;
    color: #1c1b1b;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

/*header*/
.header{
    padding-top: 30px;
    position: relative;
}
.header::after,
.header::before{
    content: '';
    width: 100%;
    border-bottom: 1px solid #e0e3e8;
    position: absolute;
    left: 0;
}
.header::before{
    top: 96px;
}
.header::after{
    top: 154px;
}
.logo{
    display: flex;
    align-items: flex-start;
    color: #1c1b1b;
    line-height: 22px;
    font-size: 16px;
}
.logo:hover{
    text-decoration: none;
}
.logo img{
    width: 58px;
    margin-right: 15px;
}
.logo p span{
    color: #fc4d4c;
    font-weight: 700;
    text-transform: uppercase;
}
.input-groups{
    position: relative;
}
.search-input-top{
    width: 100%;
    height: 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: 1px solid #e0e3e8;
    padding-left: 12px;
    line-height: 40px;
    font-size: 12px;
}
.btn-search-icon{
    width: 58px;
    height: 40px;
    background: #fc4d4c;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btn-search-icon:hover{
    opacity: 0.7;
}
.btn-search-icon img{
    width: 20px;
}
.login,
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
    position: relative;;
}
.login img,
.cart img{
    width: 40px;
    margin-right: 15px;
}
.login a{
    color: #fc4d4c;
    border-bottom: 1px dashed;
    padding-bottom: 3px;
}
.login a:hover{
    text-decoration: none;
}
.cart p span{
    color: #fc4d4c;
    font-weight: bold;
    font-size: 16px;
}
.cart .counter{
    position: absolute;
    top: -4px;
    left: 24%;
    width: 22px;
    height: 22px;
    background: #fc4d4c;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
}

.top-menu{
    color: #1c1b1b;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    justify-content: center;
    position: relative;
}
.top-menu li a{
    padding: 20px 35px;
    display: inline-block;
    text-align: center;
    color: inherit;
}
.top-menu li a:hover{
   color: #fc4d4c;
   text-decoration: none;
}
.top-menu .menu-dropdown{
    z-index: 5;
}
.top-menu .menu-dropdown a::after{
    content: '\f107';
    font-family: 'FontAwesome';
    padding-left: 5px;
}
/*sub-menu*/
.wrapper-sub-menu{
    position: absolute;
    top: 100%;
    z-index: 10;
    background: #fff;
    width: 944px;
    left: 7%;
    border: 1px solid #e0e3e8;
    border-top: none; 
    display: none;
}
.wrapper-sub-menu .wrapper-snb-menu__items{
    width: 25%;
    padding: 0 35px;
    margin: 30px 0;
    border-right: 1px solid #e0e3e8;
}
.wrapper-sub-menu .wrapper-snb-menu__items:last-of-type{
    border-right: none;
}
.wrapper-sub-menu .wrapper-snb-menu__items img {
    width: 100%;
    margin-bottom: 20px;
}
.wrapper-snb-menu__items_title{
    font-size: 14px;
    font-weight: 500;
    color: #fc4d4c;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.wrapper-sub-menu .wrapper-snb-menu__items ul li a{
    padding: 8px 0;
    text-transform: none;
}
.wrapper-sub-menu .wrapper-snb-menu__items ul li a::after{
    content: '';
}

.top-slider-img{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 35px;
    height: 365px;
}
.top-slider-img img{
    width: 100%;
}
.top-slider-img .top-slider__desc{
    position: absolute;
    top: 70px;
    left: 10%;
    color: #fff;
    font-size: 14px;
}
.top-slider-img .top-slider__desc h1{
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.top-slider-img .top-slider__desc h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.top-slider-img .top-slider__desc p span{
    font-weight: 500;
}
.top-slider-img .top-slider__desc .top-slider__btn{
    width: 175px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.top-slider-img .top-slider__desc .top-slider__btn:hover{
    text-decoration: none;
    background: #ff0000;
}

/*modal windows*/
.modal-dialog {
    max-width: 550px;
}
.modal-content{
    padding: 40px 55px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.modal-content .modal__title{
    width: 75%;
    margin-top: 0;
    margin-bottom: 15px;
}
.modal-content p{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 25px;
}
.modal-content button.close{
    position: absolute;
    top: 16px;
    right: 20px;
}
.modal-content .modal-body{
    padding: 0;
}
.modal-content .modal-body input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #e0e3e8;
    margin-bottom: 22px;
}
.modal-content .modal-body input[type="email"]::placeholder,
.modal-content .modal-body input[type="password"]::placeholder,
.modal-content .modal-body input[type="text"]::placeholder{
    font-size: 12px;
    color: #606163;
    font-family: 'Univia Pro', sans-serif;
    font-weight: 600;
}
.modal-content .modal-body img{
    width: 50%;
    margin-bottom: 20px;
}
.modal-content .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    border-top: none;
    margin-top: 10px;
}
.modal-content .modal-footer .btn-modal-window{
    width: 45%;
    height: 45px;
}
.modal-content .modal-footer p{
    text-align: left;
    padding-left: 22px;
    font-size: 12px;
    padding-bottom: 0;
}
.modal-content .modal-footer p a{
    color: #fc4d4c;
    border-bottom: 1px dashed;
    padding-bottom: 3px;
    font-size: 14px;
    margin-left: 15px;
}
.modal-content .modal-footer p a {
    text-decoration: none;
}
/*the end modal window*/

/*modal window cart*/
.modal-cart .modal-dialog{
    max-width: 770px;
}
.modal-cart .modal-content{
    width: 100%;
    /* height: 85vh;
    overflow-y: scroll; */
}
.modal-cart .modal-content .modal__title {
    width: 40%;
    margin-top: 0;
    margin-bottom: 10px;
}
.modal-cart .modal-content .wrap-cart{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #e0e3e8;
    margin-top: 15px;
}
.modal-cart .modal-content .wrap-cart:last-of-type{
    border: none;
}
.modal-cart .modal-content .wrap-cart .wrap-cart__img{
    width: 25%;
}
.modal-cart .modal-content .wrap-cart .wrap-cart__img img{
    width: 100%;
    margin: 0;
}
.modal-cart .modal-content .wrap-cart .wrap-cart__desc{
    width: 35%;
    margin-left: 15px;
}
.modal-cart .modal-content .wrap-cart .wrap-cart__desc h6{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 10px;
}
.modal-cart .modal-content .wrap-cart .wrap-cart__desc span{
    display: block;
    background: #e0e3e8;
    width: 52%;
    padding: 6px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}
.modal-cart .modal-content .wrap-cart .wrap-cart-price{
    width: 20%;
    text-align: left;
    margin-left: 12px;
}
.modal-cart .modal-content .wrap-cart .wrap-cart-price p{
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}
.modal-cart .modal-content .wrap-cart .wrap-cart-price p span{
    font-size: 20px;
    font-weight: 700;
    color: #fc4d4c;
}
.modal-cart .modal-content .wrap-cart .wrap-cart-price .style-select{
    width: 55%;
    margin-bottom: 12px;
}
.modal-cart .modal-content .wrap-cart .delet-cart{
    margin-bottom: 25px;
    display: block;
    position: relative;
}
.modal-cart .modal-content .wrap-cart .delet-cart::before{
    content: '\f00d ';
    color: #fc4d4c;
    font-family: 'FontAwesome';
    position: absolute;
    top: -9px;
    left: -11px;
    font-weight: 300;
    font-size: 12px;
}
.modal-cart .modal-content .wrap-cart-total-price{
    background: #fafafa;
    width: 100%;
    padding: 30px 65px;
}
.modal-cart .modal-content .wrap-cart-total-price p{
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: right;
}
.modal-cart .modal-content .wrap-cart-total-price p span{
    font-size: 25px;
    font-weight: 700;
    color: #fc4d4c;
}
.modal-cart .modal-content .modal-footer{
    justify-content: flex-end;
}
.modal-cart .modal-content .modal-footer .btn-modal-window{
    width: 26%;
    margin: 0 12px;
    margin-top: 20px;
}
 /*sectio category-doods*/
.slider-goods-mob{
    display: none;
}
.category-goods__title,
.why-we__title{
    font-size: 24px;
    margin: 25px auto;
    width: 270px;
    text-align: center;
    position: relative;
    font-weight: 600;
}
.category-goods__title::after,
.category-goods__title::before,
.why-we__title::after,
.why-we__title::before{
    content: '';
    border-bottom: 2px solid #1c1b1b;
    width: 20px;
    position: absolute;
    top: 50%;
}
.category-goods__title::before,
.why-we__title::before{
    left: -35px;
}
.category-goods__title::after,
.why-we__title::after{
    right: -35px;
}
.category-good__img{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    display: block;
}
.category-good__img img{
    width: 100%;
}
.category-good__img .category-good__desc{
    position: absolute;
    bottom: 18px;
    left: -10px;
    height: 60px;
    width: 60%;
    background: #fc4d4c;
    color: #fff;
    padding: 8px 10px;
    font-size: 14px;
}
.category-good__img .category-good__desc p:first-child{
    font-weight: 500;
}

/*section comments*/
.title-sectio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #828282;
    margin: 30px 0;
}
.title-sectio h3{
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}
.title-sectio a{
    color: #fc4d4c;
    border-bottom: 1px dashed;
    font-size: 13px;
}
.title-sectio a:hover{
    text-decoration: none;
    color: #ff0000;
}
.slider-comments{
    margin-bottom: 70px;
}
.wrapper-comment{
    width: 265px;
    height: 280px;
    border: 1px solid #e0e3e8;
    border-top: none;
    margin: 0 12px;
}
.wrapper-comment .wrapper-comment__head{
    width: 100%;
    padding: 20px 25px;
    background: #e0e3e8;
    display: flex;
    align-items: center;
}
.wrapper-comment .wrapper-comment__head .wrapper-comment__head_img{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.wrapper-comment .wrapper-comment__head .wrapper-comment__head_img img{
    width: 100%;
}
.wrapper-comment .wrapper-comment__head .wrapper-comment__head_title h5{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.wrapper-comment .wrapper-comment__head .wrapper-comment__head_title .stars i{
    color: #fc4d4c;
    padding-left: 2px;
}
.wrapper-comment p{
    padding: 22px;
    font-weight: 300;
    font-style: italic;
    position: relative;
}
.wrapper-comment p::after{
    content: '';
    background: url(../img/coma.png) no-repeat;
    width: 37px;
    height: 25px;
    position: absolute;
    bottom: 12px;
    right: 25px;
}


/*section news*/
.news{
    background: #fafafa;
    padding: 50px 0;
}
.slider-news{
    margin-bottom: 35px;
}
.news-img{
    display: block;
    position: relative;
    width: 265px;
    height: 200px;
    border: 1px solid #e0e3e8;
    overflow: hidden;
    margin: 0 12px;
}
.news-img img{
    width: 100%;
}
.news-img .news-title{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    background:rgba(225, 225, 225, 0.6);
    width: 100%;
    text-align: center;
    color: #1c1b1b;
    font-size: 14px;
}
.news-img .news-title h5{
    font-size: 14px;
    font-weight: 500;
}

/*section why-we*/
.why-we{
    padding: 55px 0;
}
.why-we .why-we__title{
    width: 300px;
}
.why-we__desc{
    text-align: center;
    padding-bottom: 40px;
    font-size: 13px;
}

.why-we__cards{
    width: 200px;
    height: 150px;
    background: #fafafa;
    padding: 30px 12px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin: 0 15px;
}
.why-we__cards img{
    width: 50px;
    margin: 0 auto;
    display: block;
}

/*footer*/
.footer{
    background: #e0e3e8;
    padding-top: 45px;
    padding-bottom: 18px;
}
.footer-menu{
    font-size: 14px;
}
.footer-menu h4,
.footer-contacts h4{
    font-weight: 500;
    padding-bottom: 7px;
    font-size: 14px;
}
.footer-menu ul li,
.footer-contacts ul li{
    padding-bottom: 5px;
}
.footer-menu ul li a{
    color: #1c1b1b;
}
.footer-contacts ul li a{
    font-weight: 500;
    color: #1c1b1b;
}
.footer-contacts ul li a:hover{
    text-decoration: none;
}
.footer-link li a{
    color: #1c1b1b;
}
.footer-confidentiality{
    border-top: 1px solid #c7c9cc;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}
.footer-confidentiality .footer-icons img{
    width: 18px;
    height: 18px;
    margin-right: 18px;
}
.wrapper-filter .filter-categories{
    padding-left: 22px;
    font-size: 14px;
}
.link-page{
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
}

.link-page a{
    color: #1c1b1b;
}
.link-page span{
    color: #606163;
}

/*catalog page*/
.wrapper-filter{
    margin-top: 28px;
    border-bottom: 1px solid #e0e3e8;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.wrapper-filter:last-of-type{
    border: none;
}
.wrapper-filter .wrapper-filter__title{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}
.wrapper-filter .filter-categories{
    padding-left: 22px;
    font-size: 14px;
}
.wrapper-filter .filter-categories span{
    padding: 10px 0;
    display: block;
    position: relative;
    cursor: pointer;
}
.wrapper-filter .filter-categories span::before{
    content: '+';
    position: absolute;
    left: -20px;
    top: 9px;
}
.wrapper-filter .filter-categories.open span::before{
    content: '-';
}
.wrapper-filter .filter-categories .filter-categories__items{
    display: none;
}
.wrapper-filter .filter-categories .filter-categories__items li a{
    color: #1c1b1b;
    padding: 6px 0;
    display: block;
}
.wrapper-filter .filter-categories .filter-categories__items li a:hover{
    color: #fc4d4c;
    text-decoration: none;
}
.btn-filter .btn-red{
    display: none;
}

.catalog-categories{
    padding-top: 70px;
    border-bottom: 1px solid #e0e3e8;
    margin-bottom: 30px;
}
.catalog-categories .category-good__img .category-good__desc{
    height: auto;
    width: 75%;
    font-weight: 500;
}
.group-select{
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background: #e0e3e8;
    margin-bottom: 30px;
}
.style-select{
    height: 35px;
    width: 26%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #d4d7dc;
    padding: 0;
    background: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 12px;
}
.style-select::after{
    content: '\f107';
    font-family: 'FontAwesome';
    color: #606163;
    position: absolute;
    top: 7px;
    right: 19px;
}
.style-select select{
    width: 100%;
    border: none;
    color: #606163;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0;
    padding-left: 20px;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.group-select .style-select:last-of-type{
    width: 22%;
}
.wrap-card-good{
    position: relative;
    height: 350px;
    margin-bottom: 30px;
}
.cards-good{
    width: 100%;
    border: 1px solid #e0e3e8;
    position: absolute;
    left: 0;
    top: 0;
    height: 350px;
    display: block;
    color: #1c1b1b;
    margin-bottom: 30px;
    background: #fff;
    transition: 05.s;
    -webkit-transition: 05.s;
    -moz-transition: 05.s;
    -ms-transition: 05.s;
    -o-transition: 05.s;
}
.cards-good:hover{
    text-decoration: none;
}
.cards-good img{
    width: 100%;
}
.cards-good .cards-good__desc{
    padding: 15px 28px;
}
.cards-good .cards-good__desc h5{
    font-size: 16px;
    color: #1c1b1b;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e3e8;
}
.cards-good .pricing {
    position: relative;
    padding-bottom: 15px;
}
.cards-good .pricing .discount{
    padding-top: 15px;
    text-decoration: line-through;
}
.cards-good .pricing .price{
    color: #fc4d4c;
    font-weight: 700;
    font-size: 19px;
}
.cards-good .pricing .stock{
    position: absolute;
    right: -28px;
    bottom: 10px;
    display: block;
    width: 60%;
    background: #e0e3e8;
    padding: 8px 13px;
    font-size: 13px;
    padding-right: 0;
}
.cards-good-hide-block {
    display: none;
}
.cards-good-hide-block {
    z-index: 1111;
    position: relative;
    border: 1px solid #e0e3e8;
    background: #fff;
    border-top: none;
    border-bottom: none;
    top: -3px;
    width: calc(100% + 2px);
    margin-left: -1px;
 }
.cards-good .cards-good-hide-block p{
    font-size: 13px;
    padding: 0 28px;
}
.cards-good .cards-good-hide-block .btn-cards-good{
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
.cards-good .sale-discount{
    position: absolute;
    top: 10px;
    padding: 3px 18px;
    left: -12px;
}

.pagination{
    text-align: center;
    color: #1c1b1b;
    font-size: 14px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.pagination li{
    margin: 0 5px;
}
.pagination li a{
    color: #1c1b1b;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    background: #e0e3e8;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.pagination li a:hover{
    text-decoration: none;
    /* background: #fc4d4c;
    color: #fff; */
}
.pagination li a.prev,
.pagination li a.next{
    background: #fff;
    border: 1px solid #e0e3e8;
    margin: 0 7px;
}
.pagination li a.empty{
    background: #fff;
}
.pagination li a.active{
    background: #fc4d4c;
    color: #fff;
}
.catalog .why-we__title{
    width: 280px;
}
.catalog .why-we__desc{
    padding-bottom: 60px;
}
/*page catalog-2*/
.catalog-desc{
    padding: 25px 0;
    border-bottom: 1px solid #e0e3e8;
    margin-bottom: 25px;
    display: flex;
}
.catalog-desc .catalog-desc__img,
.catalog-desc .catalog-desc__text{
    width: 50%;
}
.catalog-desc .catalog-desc__img img{
    width: 100%;
}
.catalog-desc .catalog-desc__text{
    padding-left: 25px;
}
.catalog-desc .catalog-desc__text .catalog-desc__text-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    margin-top: 25px;
}
.catalog-desc .catalog-desc__text .catalog-desc__text-title::after{
    content: '';
    border-bottom: 2px solid #1c1b1b;
    width: 20px;
    position: absolute;
    top: 50%;
    margin-left: 20px;
}
.catalog-desc .catalog-desc__text p{
    font-size: 14px;
    padding-bottom: 10px;
}

/*page blog*/
.title-blog, .title-page{
    padding: 38px 0 10px;
    border-bottom: 1px solid #828282;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px; 
}
.blog-block{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e3e8;
}
.blog-block:last-of-type{
    padding-bottom: 0;
    border: none;
}
.blog-desc{
    display: flex;
    align-items: center;
}
.blog-desc .blog-desc__img{
    width: 40%;
}
.blog-desc .blog-desc__img img{
    width: 100%;
}
.blog-desc .blog-desc__text{
    padding-left: 25px;
    width: 60%;
}
.blog-desc .blog-desc__text .blog-desc__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 22px;
    position: relative;
}
.blog-desc .blog-desc__text .blog-desc__title::after{
    content: '';
    border-bottom: 2px solid #1c1b1b;
    width: 20px;
    position: absolute;
    top: 50%;
    margin-left: 20px;
}
.blog-desc .blog-desc__text p{
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 20px;
}
.blog-desc .blog-btn{
    width: 170px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: block;
    margin-top: 15px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.blog-desc .blog-btn:hover{
    text-decoration: none;
    color: #fff;
}
.blog .pagination{
    margin-top: 40px;
    margin-bottom: 60px;
    justify-content: center;
}

/*page page-blog*/
.page-glog{
    padding-bottom: 60px;
}
.cover-blog{
    background: url(../img/img-blog/cover.jpg) no-repeat center center;
    height: 240px;
    margin-bottom: 30px;
}
.blog-text{
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 20px;
}
.blog-img__rigth{
    float: right;
    width: 40%;
    height: auto;
    margin-left: 35px;
    display: block;
}

/*page delivery-payment*/
.delivery-payment{
    display: flex;
    margin-bottom: 35px;
}
.delivery-payment__text, .delivery-payment__img{
    width: 50%;
}
.delivery-payment__text{
    padding-right: 30px;
}
.subtitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 22px;
    position: relative;
}
.subtitle::after{
    content: '';
    border-bottom: 2px solid #1c1b1b;
    width: 20px;
    position: absolute;
    top: 50%;
    margin-left: 20px;
}
.delivery-payment .delivery-payment__text .payment__title{
    margin-top: 10px;
}
.delivery-payment__text p{
    font-size: 14px;
    padding-bottom: 15px;
}
.delivery-payment .delivery-payment__img img{
    width: 100%;
}
/*page about-company*/
.about-company{
    margin-bottom: 20px;
}
.about-company .about-company__img{
    width: 40%;
}
.about-company .about-company__img img{
    width: 100%;
}
.about-company .about-company__title{
    margin-top: 25px;
}
.about-company .about-company__text{
    width: 50%;
}
.about-company .about-company__text p{
    font-size: 14px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
    .logo img {
        margin-right: 10px;
    }
    .top-menu li a {
        padding: 20px 22px;
    }
    .wrapper-sub-menu {
        left: 0;
    }
    .top-slider-img .top-slider__desc .top-slider__btn {
        margin-top: 24px;
    }
    .cart .counter {
        top: -4px;
        left: 19%;
    }
    .category-good__img .category-good__desc {
        width: 70%;
    }
    .slick-next {
        right: -30px;
    }
    .slick-prev {
        left: -30px;
    }
    .catalog-categories .category-good__img .category-good__desc {
        width: 80%;
    }
    .cards-good .cards-good__desc {
        padding: 15px 10px;
    }
    .cards-good .pricing .stock {
        right: -10px;
        width: 50%;
        font-size: 10px;
    }
    .cards-good, .wrap-card-good{
        height: 315px;
    }
    .cards-good .cards-good-hide-block p {
        font-size: 12px;
        padding: 0 10px;
    }
    .catalog-desc .catalog-desc__text .catalog-desc__text-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
        position: relative;
        margin-top: 15px;
    }
    .catalog-desc .catalog-desc__text p {
        font-size: 12px;
        padding-bottom: 8px;
    }
    .blog-desc .blog-desc__text .blog-desc__title {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .blog-desc .blog-desc__text p {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1024px) {
    .slick-prev {
        left: -9px;
        z-index: 10;
    }
    .slick-next {
        right: -9px;
        z-index: 10;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        max-width: 100%;
    }
    .top-wrap{
        padding-top: 8px;
    }
    .login img, .cart img {
        width: 32px;
        margin-right: 10px;
    }
    .cart .counter {
        top: -7px;
        left: 22%;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .login p, .cart p:first-of-type{
        display: none;
    }
    .cart p{
        font-size: 12px;
    }
    .cart p span {
        font-size: 14px;
    }
    .top-menu {
        justify-content: space-around;
    }
    .top-menu li a {
        padding: 20px 11px;
    }
    .wrapper-sub-menu{
        width: 100%;
    }
    .wrapper-sub-menu .wrapper-snb-menu__items {
        padding: 0 15px;
        margin: 20px 0;
    }
    .category-goods__title, .why-we__title {
        font-size: 20px;
        width: 220px;
    }
    .category-good__img .category-good__desc {
        height: 50px;
        font-size: 11px;
    }
    .slick-prev {
        left: -9px;
        z-index: 10;
    }
    .slick-next {
        right: -9px;
        z-index: 10;
    }
    .wrapper-comment .wrapper-comment__head {
        padding: 15px 10px;
    }
    .wrapper-comment .wrapper-comment__head .wrapper-comment__head_title h5 {
        font-size: 12px;
    }
    .stars{
        font-size: 12px;
    }
    .wrapper-comment, .news-img{
        height: auto;
    }
    .wrapper-comment p {
        font-size: 12px;
    }
    .news-img .news-title {
        font-size: 12px;
    }
    .why-we__cards {
        height: auto;
        padding: 30px 10px;
        font-size: 12px;
    }
    .catalog-categories {
        padding-top: 30px;
    }
    .style-select{
        width: 33%;
    }
    .group-select .style-select:last-of-type {
        width: 28%;
    }
    .cards-good, .wrap-card-good {
        height: auto;
    }
    .cards-good{
        position: static;
    }
    .pagination {
        justify-content: flex-start;
    }
    .catalog-desc .catalog-desc__text {
        padding-left: 15px;
    }
    .catalog-desc .catalog-desc__text .catalog-desc__text-title {
        font-size: 18px;
        margin-top: 0;
    }
    .catalog-desc .catalog-desc__text .catalog-desc__text-title::after {
        content: '';
        border-bottom: 2px solid #1c1b1b;
        width: 15px;
        position: absolute;
        top: 50%;
        margin-left: 10px;
    }
    .catalog-desc .catalog-desc__text p {
        font-size: 11px;
        padding-bottom: 5px;
    }
    .blog-desc .blog-desc__text p {
        font-size: 12px;
        padding-bottom: 8px;
        line-height: 16px;
    }
    .blog-desc .blog-desc__text .blog-desc__title {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .blog-desc .blog-desc__img {
        width: 50%;
    }
    .blog-desc .blog-desc__text {
        padding-left: 15px;
        width: 50%;
    }
    .blog-text {
        font-size: 12px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    .blog-img__rigth {
        float: right;
        width: 45%;
        height: auto;
        margin-left: 35px;
        display: block;
    }
    .subtitle{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 22px;
        position: relative;
    }
    .delivery-payment__text p {
        font-size: 12px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .top-menu {
        font-size: 11px;
    }
    .title-sectio h3 {
        font-size: 14px;
    }
    .title-sectio {
        margin: 15px 0;
    }
    .news, .why-we {
        padding: 15px 0;
    }
    .slick-prev, .slick-next {
        width: 30px;
        height: 70px;
    }
    .slick-prev:before,
    .slick-next:before{
        top: 25px;
    }
    .slick-prev {
        left: -4px;
    }
    .slick-next {
        right: -4px;
    }
    .modal-cart .modal-dialog {
        max-width: 700px;
    }
    .catalog-desc .catalog-desc__text p {
        font-size: 12px;
        padding-bottom: 8px;
    }
    
}
@media only screen and (max-width: 767px) {
    .btn-filter .btn-red{
        width: 25%;
        height: 40px;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 20px;
        display: block;
    }
    .btn-filter .btn-red i{
        margin-right: 10px;
    }
    .filter{
        display: none;
    }
    .catalog-categories .category-good__img .category-good__desc {
        width: 65%;
        font-size: 14px;
    }
    .pagination {
        justify-content: center;
    }
    .about-company{
        flex-flow: column;
    }
    .about-company .about-company__text {
        width: 100%;
    }
    .about-company .about-company__img {
        width: 55%;
        margin: 0 auto 15px;
    }
}
@media only screen and (max-width: 720px) and (min-width: 567px){
    .header::after {
        width: 0;
    }
    .top-menu {
        font-size: 9px;
    }
    .top-menu li a {
        padding: 15px 5px;
    }
    .wrapper-snb-menu__items_title{
        font-size: 12px;
    }
    .category-good__img .category-good__desc {
        width: 65%;
    }
    .why-we__cards {
        width: 25%;
        font-size: 14px;
        margin: 0 5px;
        font-size: 9px;
        padding: 20px 10px;
    }
    .footer-menu h4, .footer-contacts h4 {
        font-size: 11px;
    }
    .footer-link, .footer-menu ul, .footer-contacts ul, .footer-confidentiality{
        font-size: 11px;
    }
    .cards-good .cards-good__desc h5 {
        text-align: center;
    }
    .cards-good .pricing .discount {
        font-size: 12px;
    }
    .cards-good .pricing .price {
        font-size: 17px;
    }
    .cards-good .pricing .stock {
        right: -10px;
        bottom: 2px;
        width: 46%;
        font-size: 8px;
        padding: 6px 0 6px 5px;
    }
    .cards-good .pricing {
        padding-bottom: 5px;
    }
    .catalog-desc .catalog-desc__text p {
        font-size: 11px;
        padding-bottom: 5px;
    }
    .login a, .cart p {
        display: none;
    }
    .login, .cart {
        width: auto;
        margin: 0 15px;
    }
    .top-wrap {
        padding-top: 6px;
        justify-content: flex-end;
    }
    .cart .counter {
        left: 55%;
    }
    .blog-desc .blog-btn {
        width: 55%;
        height: 35px;
        text-align: center;
        line-height: 35px;
        display: block;
        margin-top: 10px;
    }
    .blog-desc .blog-desc__text p{
        font-size: 10px;
    }
    .blog-desc .blog-desc__text .blog-desc__title {
        font-size: 17px;
        margin-bottom: 8px;
    }
    .delivery-payment {
        flex-flow: column;
    }
    .delivery-payment__img {
        width: 60%;
        order: 1;
        margin: 0 auto 10px;
    }
    .delivery-payment__text {
        width: 100%;
        padding-right: 0;
        order: 2;
    }
}
@media only screen and (max-width: 576px) {
    .header::after, .header::before{
        width: 0;
    }
    .login a, .cart p{
        display: none;
    }
    .login, .cart {
        width: auto;
        margin: 0 10px;
    }
    .top-wrap {
        padding-top: 6px;
        justify-content: flex-end;
    }
    .cart .counter {
        left: 55%;
    }
    /*button menu*/
    .menu-btn{
        height: 40px;
        width: 40px;
        position: absolute;
        top: -40px;
        cursor: pointer;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        left: 50%;
        margin-left: -13px;
        width: 26px;
        height: 3px;
        background-color: #fc4d4c;
    }
    .menu-btn span::before,
    .menu-btn span::after{
        content: '';
        display: block;
        transition: 0.3s;
    }
    .menu-btn span::before{
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -o-transform: translateY(-6px);
    }
    .menu-btn span::after{
        transform: translateY(6px);
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
    }
    .menu-btn_active span{
        height: 0;
    }
    .menu-btn_active span:before {
        transform: rotate(-42deg);
    }
    .menu-btn_active span:after {
        transform: rotate(42deg);
    }
    /*button menu*/
    .menu{
        display: none;
    }
    .top-menu {
        font-size: 13px;
        flex-flow: column;
    }
    .top-menu li a {
        padding: 12px 11px;
        z-index: 2;
    }
    .wrapper-sub-menu{
        display: none;
    }
    .top-menu .menu-dropdown{
        z-index: 1;
    }
    .top-menu .menu-dropdown a::after {
        content: '';
    }
    .top-slider-img .top-slider__desc h1 {
        font-size: 19px;
    }
    .top-slider-img .top-slider__desc h2 {
        font-size: 14px;
    }
    .slick-dots {
        padding-left: 10%;
    }
    .category-goods__title, .why-we__title {
        font-size: 18px;
        width: 195px;
    }
    .title-sectio .link{
        display: none;
    }
    .why-we .why-we__title {
        width: 207px;
    }
    .wrapper-why-we{
        flex-wrap: wrap;
    }
    .why-we__cards {
        width: 48%;
        padding: 30px 10px;
        font-size: 10px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 0;
    }
    .why-we__cards:nth-of-type(2n) {
        margin-right: 0;
    }
    .footer-link,
    .footer-menu{
        margin-bottom: 15px;
    }
    .footer-confidentiality {
        align-items: flex-start;
        flex-flow: column;
        margin-top: 25px;
    }
    .footer-confidentiality .footer-icons {
        order: 1;
    }
    .footer-confidentiality span {
        order: 2;
        margin-top: 8px;
    }

    .category-goods{
        margin-bottom: 20px;
    }
    .slider-goods-mob{
        display: block;
    }
    .slider-goods-mob a{
        margin: 0 14px;
    }
    .category-good__img, .wrap-card-good {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .cards-good .cards-good__desc h5 {
        font-size: 18px;
    }
    .cards-good .pricing .stock {
        right: -10px;
        width: 45%;
        font-size: 12px;
    }
    .cards-good .pricing .price {
        color: #fc4d4c;
        font-weight: 700;
        font-size: 22px;
    }
    .catalog .why-we__title {
        width: 219px;
    }
    .style-select {
        width: 40%;
    }
    .group-select .style-select:last-of-type {
        width: 35%;
    }
    .btn-filter .btn-red {
        width: 40%;
    }
    .catalog-desc {
        display: flex;
        flex-flow: column;
    }
    .catalog-desc .catalog-desc__img {
        width: 80%;
        margin: auto;
    }
    .catalog-desc .catalog-desc__text{
        width: 100%;
    }
    .catalog-desc .catalog-desc__text p {
        font-size: 13px;
        padding-bottom: 8px;
    }
    .catalog-desc .catalog-desc__text .catalog-desc__text-title {
        font-size: 20px;
        margin-top: 20px;
    }
    .blog-desc{
        flex-flow: column;
    }
    .blog-desc .blog-desc__img {
        width: 80%;
        margin-bottom: 25px;
    }
    .blog-desc .blog-desc__text {
        padding-left: 0;
        width: 100%;
    }
    .blog-desc .blog-desc__text p {
        font-size: 13px;
        padding-bottom: 8px;
        line-height: 18px;
    }
    .blog-desc .blog-desc__text .blog-desc__title {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .blog-img__rigth {
        float: none;
        width: 80%;
        height: auto;
        margin-left: 35px;
        display: block;
        margin: 20px auto;
    }
    .delivery-payment{
        flex-flow: column;
    }
    .delivery-payment__text{
        width: 100%;
        padding-right: 0;
        order: 2;
    }
    
    .delivery-payment__img{
        width: 80%;
        order: 1;
        margin: 0 auto;
    }
    .delivery-payment__text p {
        font-size: 13px;
        padding-bottom: 15px;
    }
    .about-company .about-company__img {
        width: 65%;
        margin: 0 auto 15px;
    }
}


@media only screen and (max-width: 530px) {
    .why-we__cards {
        width: 47.5%;
    }
}
@media only screen and (max-width: 460px) {
    .style-select {
        width: 50%;
    }
    .group-select .style-select:last-of-type {
        width: 45%;
    }
    .btn-filter .btn-red {
        width: 50%;
        margin: 20px auto 0;
    }
}
@media only screen and (max-width: 430px) {
    .why-we__cards {
        width: 46.5%;
    }
    .category-good__img, .wrap-card-good{
        width: 100%;
    }
    .subtitle {
        font-size: 16px;
    }
    .subtitle::after {
        content: '';
        border-bottom: 1px solid #1c1b1b;
        width: 15px;
        position: absolute;
        top: 50%;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 375px) {
    .group-select{
        flex-flow: column;
    }
    .style-select {
        width: 80%;
        margin: 0 auto;
    }
    .group-select .style-select:last-of-type {
        width: 80%;
        margin-top: 20px;
    }
    .link-page {
        font-size: 13px;
    }
    .title-blog, .title-page {
        padding: 38px 0 10px;
        border-bottom: 1px solid #828282;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}